[submodule "third_party/Shipwright-Android"]
	path = third_party/Shipwright-Android
	url = https://github.com/Waterdish/Shipwright-Android
[submodule "third_party/enet"]
	path = third_party/enet
	url = https://github.com/lsalzman/enet
